node_modules/
*/node_modules/
dist/
*/dist/
.cache/
*/.cache/
.gocache/
*/.gocache/
.gomodcache/
*/.gomodcache/
*.log
/package-lock.json
CPN/main
CPN/LadderCompetitionPlatform
CPN/*.rar
CPN/*.docx
.idea/
*/.idea/
.vscode/
*/.vscode/
.DS_Store
*/.DS_Store
__pycache__/
*/__pycache__/
*.pyc
CPN/data/
